<!DOCTYPE html>
<html lang='en'><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{project}}{{#project}} {{tag}} - {{/project}}{{curr_path}}</title>
  {{>INCLUDE_CSS}}
</head>

<body>
  <div class="container-fluid">
{{>INCLUDE_NAVBAR}}
  </div>

  <div class="container-fluid" id="sbexr-about-data">
      <h4>What is this?</h4>

      <p>
        You are looking at a <b>code browser</b> for <b>{{project}}</b>.
      </p>

      <p>
        By using this web interface, you can navigate the source code of <b>{{project}}</b> by <b>following simple links</b>, <b>search it</b> by using the box in the navigation bar, or use <b>vi inspired</b> key bindings to move within files.
      </p>

      <p>
        It should all be pretty intuitive, but to get started, here are a few things you may want to try:
        <ul>
          <li>Search for files or symbols by using <b>'f'</b>, <b>'s'</b> or the pull down menu to the left of the search box.</li>
          <li>Press <b>'?'</b> to have a help screen with key bindings, and <b>'a'</b> or <b>ESC</b> to <b>hide this screen</b>.</li>
          <li>Try to drag variables or functions to get more details about them.</li>
        </ul>
      </p>

      <p>
        This site was generated via <a href="https://www.github.com/ccontavalli/sbexr"><b>sbexr</b></a>, which uses <a href="http://llvm.org">LLVM</a> and <a href="http://clang.llvm.org">clang</a> to parse and index the code.
      </p>

      <p>
        <b>sbexr</b> is free software (as in "free speech"), <a href="https://www.github.com/ccontavalli/sbexr">under heavy development</a>. <a href="http://sbexr.rabexc.org">sbexr.rabexc.org</a> and the Linux kernel source code are used as a playground to test new features, observe bugs, and gather feedback. Check there often if you want to see new features in action.
      </p>

      <p>
        As of today, the best way to know more about the project or participate in the development is to <a href="https://groups.google.com/forum/#!forum/sbexr/join">join the mailing list</a>,
        and follow the project on <a href="https://www.github.com/ccontavalli/sbexr">github</a>.
      </p>

  </div>

{{>INCLUDE_JS}}
</body>
</html>
